*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;

}

loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  background-color: #000;
  color: #FFF;
}

.container-filme{
  margin: 18px auto;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0 8px;
  justify-content: center;
  align-items: center;
}


.container-filme h1{
  margin: 14px 0;
}

.container-filme img{
  width: 900px;
  border-radius: 8px;
  max-width: 100%;
  max-height: 340px;
  object-fit: cover;
}

.container-filme h3{
  margin-top: 14px;
}

.container-filme span{
  display: block;
  margin: 8px 0;
  text-align: justify;
}

.area-buttons button{
  margin-right: 12px;
  margin-top: 14px;
  margin-left: 0;
  font-size: 20px;
  border: 0;
  outline: none;
  padding: 12px ;
  border-radius: 4px;
  cursor: pointer;
  background-color: #E50914;
  color: #FFF;
  transition: all 0.5s;
}

.area-buttons a{
  text-decoration: none;
  color: #FFF;
}

.area-buttons button:hover{
  background-color: #BF0812;
}

.loading{

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.loading a{

  display: flex; /* Torna o link um bloco */
  justify-content: center;
  margin-top: 8px;
  align-items: center;
  text-decoration: none;
  color: #FFF;
  background-color: #E50914;
  padding: 10px 0;
  border-radius: 8px;
  font-size: 24px;
  max-width: 200px;
  width: 100%;
  transition: all 0.5s;
}

.loading a:hover{
  background-color: #BF0812;
}